main {
	position: relative;
	width: 1000px;
	height: auto;
	background-color: #f8f8f8;
	margin: 10px auto 10px auto;
	padding: 20px 20px 20px 20px;
	border: 1px solid #ccc;
    border-radius: 10px;
	box-shadow: 3px 3px 0.3px rgba(0, 0, 0,.3);
}

.btn-dark {
	margin: auto 5px auto 5px;
}

.button-search {
	margin-top: 20px;
	margin-bottom: 20px;
}

.myTable {
	display: block;
	position: relative;
	height: 370px;
	width: 950px;
	margin-bottom: 10px;
	overflow: auto;
}

.notFound {
	position: absolute;
	margin: 100px auto auto 390px;
}

.success {
	background-color: lightgreen;
	padding: 15px;
}

.error {
	color: white;
	background-color: tomato;
	padding: 15px;
}
